/* ANDRÉ */
#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.columns {
    /* height: 250px; */
    width: 50px;
    border: 1px solid black;
    margin-right: 1px;
}

.cells {
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
}

.disc {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .red {
    background-color: red;
  }
  .black {
    background-color: black;
  }













































/* JUNIOR */


















































/* VITOR */


















































