#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.columns {
  width: 50px;
  border: 1px solid black;
  margin-right: 1px;
}

.cells {
  height: 50px;
  width: 50px;
}

.disc {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.circles {
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
  max-width: auto;
  width: 100%;
  height: 100%;
}

section.controls {
  text-align: center;
  width: 700px;
  /* height: 100px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.player__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player__container > span {
  margin-right: 10px;
}

#restartButton {
  margin-right: 100px;

}


