@font-face {
  font-family: 'cafeteriabold';
  src: url('./fonts/cafeteria_bold-webfont.woff') format('woff2'), url('./fonts/cafeteria_bold-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --antique-blue: #2465ce;
  --antique-yellow: lightyellow;
  --yellow: rgb(255, 255, 164);
}

body {
  background-color: var(--antique-blue);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'cafeteriabold';
  font-size: 4rem;
  text-align: center;
  color: var(--antique-yellow);
  margin-top: 30px;
  order: 1;
}

.board__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto 0 auto;
  max-width: 600px;
  min-width: 360px;
}

.columns {
  background-color: var(--antique-yellow);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px ridge var(--yellow);
  border-bottom: 5px ridge var(--yellow);
  padding: 10px 0px;
}

.columns:hover {
  background-color: rgb(255, 255, 255);
}

#column1 {
  border-left: 7px ridge var(--yellow);
  padding-left: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#column7 {
  border-right: 7px ridge var(--yellow);
  padding-right: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cells {
  height: 12vw;
  width: 12vw;
  min-width: 40px;
  min-height: 40px;
  margin: 0.5vw;
  background-color: var(--antique-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 2px ridge var(--yellow);
  box-sizing: border-box;
  box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.34);
}

.cells:hover {
  background-color: #5391f5;
}

.disc {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}

.red {
  background-color: rgb(255, 78, 78);
}

.black {
  background-color: rgb(31, 31, 31);
}

section.controls {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#restartButton {
  background-color: var(--antique-yellow);
  font-family: 'cafeteriabold';
  font-size: 1.5rem;
  color: var(--antique-blue);
  border: 3px ridge var(--yellow);
  border-radius: 10px;
  cursor: pointer;
  width: 125px;
  height: 60px;
}

#restartButton:hover,
#restartButton02:hover {
  color: #5391f5;
}

.player__container {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.player__container > span {
  color: var(--antique-yellow);
  font-family: 'cafeteriabold';
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.player__container > div {
  height: 60px;
  width: 60px;
}

#popup-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

#popup-result {
  background-color: var(--antique-yellow);
  width: 300px;
  height: 150px;
  border: 7px ridge var(--yellow);
  padding: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  font-family: 'cafeteriabold';
  font-size: 2rem;
  color: var(--antique-blue);
  margin-top: 10px;
}

#restartButton02 {
  background-color: var(--antique-blue);
  font-family: 'cafeteriabold';
  font-size: 2rem;
  color: var(--antique-yellow);
  border: 3px ridge var(--yellow);
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 40px;
}

#restartButton02:hover {
  color: black;
}

@media (min-width: 670px) {
  h1 {
    font-size: 6rem;
  }
  .cells {
    height: 80px;
    width: 80px;
    margin: 5px;
    border: 3px ridge var(--yellow);
  }
  .columns {
    padding: 20px 0;
  }

  #column1 {
    padding-left: 20px;
  }

  #column7 {
    padding-right: 20px;
  }
}
